[submodule "submodules/tensor_product_chain_complex.git"]
	path = submodules/tensor_product_chain_complex.git
	url = https://github.com/HyperHDG/TPCC.git
	branch = master
[submodule "submodules/tensor_product_polynomials.git"]
	path = submodules/tensor_product_polynomials.git
	url = https://github.com/HyperHDG/tensor_product_polynomials.git
	branch = main
[submodule "submodules/docker.git"]
	path = submodules/docker.git
	url = https://github.com/HyperHDG/docker.git
	branch = main
[submodule "submodules/fiber_network.git"]
	path = submodules/fiber_network.git
	url = https://github.com/HyperHDG/fiber_network.git
	branch = main
[submodule "submodules/qmc_methods.git"]
	path = submodules/qmc_methods.git
	url = https://github.com/HyperHDG/qmc_methods.git
