# Directory which is internally created by pushes to gh-wiki and must not be used.
code_docs/

# Directories that might survive branch switching.
__pycache__/
domains/
doxygen/
[Bb]uild/
[Oo]utput*/
submodules/
